@page "/about"

<h3>About</h3>
<p>
    This is a simulator and converter for creatures in the Three Weeks RPG (TWPRG) system created by Nathan Hoffman. This app was created as a C# sample and a pet-project to play with Blazor and C# as a web component hosted on AWS's S3 storage to see if it was possible to do so without a backend.  It also uses a JS file for conversions to test the passthrough of the C# web component to frontend JS. You can find out more about the author at <a href="http://codingastronomer.com">codingastronomer.com</a>.
</p>
@code {

}
